html,
body {
    flex-grow: 1;
    width: 100%;
    font-family: 'Shrikhand', 'Roboto', Times New Roman, Times, serif;
}

h1 {
    font-size: 24px;
}

.margesSection {
    margin-left: 10%;
    margin-right: 10%;
}

.dimensionImg {
    width: 50%;
    margin-left: 25%;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexStart {
    display: flex;
    align-items: center;
    justify-content: start;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tailleLogo {
    margin-left: 25%;
    margin-right: 25%;
}

.borderShadow {
    box-shadow: rgb(218, 215, 215) 0px 5px 5px 0px;
}

.backGris {
    background-color: rgb(242, 242, 242);
    align-items: center;
    width: 100%;
    height: 70px;
    justify-content: center;
    margin-top: 5px;

}

.position {
    flex-direction: column;
    height: auto;
    width: 100%;
}

.espaceIcon {
    padding-left: 30%;
}

.borderNone {
    background-color: rgb(242, 242, 242);
    font-weight: bold;
    font-size: large;
    padding-left: 3%;
    align-items: center;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    width: 100%;
}

.dispositionReserver {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20%;
}

.espaceReserver {
    padding-left: 12%;
}

.dispositionP {
    flex-direction: row;
    width: 100%;
    margin-left: 20%;
    margin-right: 10%;
}

.buttonExplor {
    height: 50px;
    width: 220px;
    color: white;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
    background-color: #9356DC;
}

.buttonFoncti {
    height: 50px;
    width: 290px;
    color: black;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
    background-color: #f2f2f2;
    margin-bottom: 2%;
    margin-left: 5%;
}

.largeurFoncti {
    margin-right: 13%;
}

.buttonChiffres {
    height: 20px;
    width: 20px;
    color: white;
    border-radius: 25px;
    background-color: #9356DC;
    justify-content: center;
    position: absolute;
    left: 0px;
    margin-left: 5%;
}

.buttonNouveau {
    height: 20px;
    width: 70px;
    color: #067055;
    cursor: pointer;
    border-radius: 0px 0px 0px 0px;
    background-color: #99E2D0;
    position: absolute;
    margin-left: 50%;
    margin-top: 10px;
}

.dispositionSize {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(240, 255, 255, 0.973);
    flex-direction: column;
    height: auto;
    width: 100%;
}

.imagesRestaurants {
    background-size: cover;
    width: 100%;
    height: 120px;
    object-fit: cover;
    background-position: center center;
    border-radius: 15px 15px 0px 0px;
}

.cubeRestaurants {
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 10%;
    height: 180px;
    /*rajouter pour voir en version mobile et desktop*/
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

h3,
p {
    margin-top: 1%;
    margin-bottom: 0;
}

.margesReserver {
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 7%;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'Roboto';
    height: 180px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2%;
}

.marges {
    flex-direction: column;
    margin-left: 3%;
}

.paddingFooter {
    margin-left: 2%;
}

.margeFooter2 {
    display: flex;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 3%;
}

.espaceFooter {
    margin-top: 3%;
    margin-left: 5%;
}

.espaceFooter2 {
    margin-left: 3%;
    margin-bottom: 1%;
}

@media screen and (min-width: 425px) {
    html {
        margin-left: 0%;
    }

    .position {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .flexCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .borderShadow {
        box-shadow: 0px 5px 5px 0px #dad7d7;
    }

    .borderNone {
        border: 0;
        background-color: #f2f2f2;
        font-weight: bold;
        font-size: large;
        padding-left: 3%;
        align-items: center;
    }

    .backGris {
        background-color: #f2f2f2;
        align-items: center;
        height: 70px;
        justify-content: center;
        margin-top: 5px;
    }

    .espaceNone {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .dispositionPNone {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .flexCentreReserver {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .espaceIcon {
        padding-left: 15%;
    }

    .buttonFoncti {
        height: 50px;
        width: 290px;
        color: black;
        cursor: pointer;
        border-radius: 15px 15px 15px 15px;
        background-color: #f2f2f2;
        margin-bottom: 2%;
        margin-left: 20%;
    }

    .buttonChiffres {
        height: 20px;
        width: 20px;
        color: white;
        border-radius: 25px;
        background-color: #9356DC;
        justify-content: center;
        position: absolute;
        left: 15%;
    }
    
}

@media screen and (min-width: 768px) {

    .flexBetweenDesktop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: auto;
    }
    .flexCentreReserver {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .espaceIcon {
        padding-left: 15%;
    }

    .iconTitre {
        visibility: hidden;
    }

    .borderNone {
        border: 0;
        background-color: #f2f2f2;
        font-weight: bold;
        font-size: large;
        align-items: center;
        padding-left: 43%;
    }

    .flexEvenly {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .espaceReserver {
        padding-left: 12%;
    }

    .espaceNone {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }


    .dispositionH {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: 20%;
    }

    .h1MargeResto{
        padding-left: 5%;
    }


    .position {
        justify-content: flex-start;
        height: auto;
        width: 100%;
    }

    .dispositionP {
        flex-direction: row;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .dispositionH {
        display: flex;
        flex-direction: column;
        width: 475px;
        margin-left: 0%;
    }

    .buttonChiffres {
        height: 20px;
        width: 20px;
        color: white;
        cursor: pointer;
        border-radius: 30px 30px 30px 30px;
        background-color: #9356DC;
        position: absolute;
        left: 47%;
    }

    .buttonFoncti {
        height: 50px;
        width: 290px;
        color: black;
        cursor: pointer;
        border-radius: 15px 15px 15px 15px;
        background-color: #f2f2f2;
        margin-bottom: 2%;
        margin-left: -20%;
    }

    .buttonExplor {
        height: 50px;
        width: 220px;
        color: white;
        cursor: pointer;
        border-radius: 30px 30px 30px 30px;
        background-color: #FF79DA;
        margin-left: 0;
        margin-bottom: 18%;
        margin-top: 5%;
    }
    .positionFonction{
        margin-right: 3%;
        margin-left: 20%;
    }
    .dispositionReserver {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10%;
    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        font-family: 'Roboto';
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2%;
    }

}

@media screen and (min-width: 1023px) {

    .flexBetweenDesktop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .borderNone {
        border: 0;
        background-color: #f2f2f2;
        font-weight: bold;
        font-size: large;
        align-items: center;
        padding-left: 45%;
    }
    .flexCentreReserver {
        display: flex;
        flex-direction: initial;
        justify-content: center;
        align-items: center;
        margin-left: 60px;
    }

    .iconFoncti {
        visibility: hidden;
    }
    .margesSection {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        width: 100%;
        flex-direction: row;
        margin: 0;
    }

    .cubeRestaurants {
        background-color: white;
        padding: 0;
        margin-right: 2%;
        border-radius: 20px;
        margin-bottom: 0%;
        height: 180px;
        /*rajouter pour voir en version mobile et desktop*/
        box-shadow: 5px 5px 5px 1px #f2f2f2;
    }

    .position {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: auto;
        width: 100%;
    }

    .positionReserver {
        float: left;
    }
    .positionFonction{
        margin-right: 3%;
        margin-left: 20%;
    }

    h1{
        margin-top: 3%;
    }
    .h1MargeResto{
        padding-left: 6%;
    }

    .iconeNone{
        color: #f2f2f2;
    }

    .h1Reserver {
       flex-direction: row;
       width: 100%;
    }
    .dispositionReserver {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    .espaceReserver {
        padding-left: 0;
    }

    .buttonChiffres {
        height: 20px;
        width: 20px;
        color: white;
        border-radius: 25px;
        background-color: #9356DC;
        justify-content: center;
        position: absolute;
        left: 57%;
    }

    .sizeRestaurant {
        display: flex;
        width: 100%;
        height: auto;
        margin-left: 0%;
        padding-bottom: 2%;
        border-radius: 10px;
        justify-content: center;
    }

    .imagesRestaurants {

        background-size: cover;
        width: 450px;
        height: 120px;
        object-fit: cover;
        background-position: center center;
        border-radius: 15px 15px 0px 0px;
    }

    .contourImage {
        margin: 10%;
    }

    .buttonExplor {
        height: 50px;
        width: 220px;
        color: white;
        cursor: pointer;
        border-radius: 30px 30px 30px 30px;
        background-color: #FF79DA;
        margin-left: 15%;
        margin-bottom: 18%;
    }

    .buttonNouveau {
        height: 35px;
        width: 70px;
        color: #067055;
        cursor: pointer;
        border-radius: 0px 0px 0px 0px;
        background-color: #99E2D0;
        position: absolute;
        margin-left: 36%;
        margin-top: 10px;
    }

    footer {
        background-color: black;
        color: white;
        font-family: 'Roboto';
        height: 300px;
        margin-left: 0;
        margin-right: 0;
    }

    .iconFooter {
        visibility: hidden;
    }

    .margeFooter2 {
        display: flex;
        margin-bottom: 3%;
    }

    .espaceFooter {
        margin-left: 0;
    }

    .margeFooter2 {
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 9%;
    }

    .espaceFooter2 {
        margin-left: 10%;
    }
}
@media screen and (min-width: 1439px){
    .buttonNouveau {
        height: 40px;
        width: 70px;
        color: #067055;
        cursor: pointer;
        border-radius: 0px 0px 0px 0px;
        background-color: #99E2D0;
        position: absolute;
        margin-left: 25%;
        margin-top: 15px;
    }
    .h1MargeResto{
        padding-left: 6%;
        margin-left: 6%;
    }

    .buttonFoncti {
        height: 50px;
        width: 290px;
        color: black;
        cursor: pointer;
        border-radius: 15px 15px 15px 15px;
        background-color: #f2f2f2;
        margin-bottom: 2%;
        margin-left: -35%;
    }

    footer {
        background-color: black;
        color: white;
        font-family: 'Roboto';
        height: 350px;
        margin-left: 0;
        margin-right: 0;
    }
}
    @media screen and (min-width: 2559px){

    .borderNone {
        border: 0;
        background-color: #f2f2f2;
        font-weight: bold;
        font-size: large;
        align-items: center;
        padding-left: 48%;
    }   

    .h1MargeResto {
        padding-left: 12%;
        margin-left: 6%;
    }
    .h1DesktopScreenLarge {
        margin-right: 40%;
        padding-right: 10%;
        position: relative;
        left: -80%;
    }

    .buttonNouveau {
        height: 40px;
        width: 70px;
        color: #067055;
        cursor: pointer;
        border-radius: 0px 0px 0px 0px;
        background-color: #99E2D0;
        position: absolute;
        margin-left: 14%;
        margin-top: 15px;
    }

    .buttonFoncti {
        height: 50px;
         width: 290px;
         color: black;
        cursor: pointer;
        border-radius: 15px 15px 15px 15px;
        background-color: #f2f2f2;
        margin-bottom: 2%;
        margin-left: -72%;
    }
    
    footer {
        background-color: black;
        color: white;
        font-family: 'Roboto';
        height: 350px;
        margin-left: 0;
        margin-right: 0;
    } 
    
    footer {
        background-color: black;
        color: white;
        font-family: 'Roboto';
        height: 500px;
        margin-left: 0;
        margin-right: 0;
    }
}

